*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

header{
  height: 90px;
  background: #487eb0;
  text-transform: uppercase;
  color: #fff;
}

.container{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

h1{
  float: left;
  cursor: pointer;
  line-height: 90px;
}
h1 a{
  text-decoration: none;
  color: inherit;
}

.menu{
  float: right;
  line-height: 90px;
  position: relative;

}
.menu .fas.fa-times{
  display: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
.menu li{
  position: relative;
  display: inline-block;
  padding: 0 15px;

}

.menu li a{
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
  position: relative;

}
.menu a::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: #c23616;
  margin: 0;
  padding: 0;
  left: -350px;
  bottom: -5px;
  transition: 0.4s;
  opacity: 0;
  transform: scale(0);
  clip-path: circle(0);
}
.menu a:hover::after{
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: 0.4s;
  opacity: 1;
  clip-path: circle(100%);
}

.menu li a i{
  line-height: 90px;
  float: right;
  padding-left: 10px;
}

.btn{
  cursor: pointer;
  margin-left: 25px;
  color: inherit;
  background: none;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.4s;
  font-weight: 700;
}
.btn:hover{
  background: #c23616;
}

.fas.fa-bars{
  float: right;
  cursor: pointer;
  display: none;
  line-height: 90px;
  padding-right: 20px;
  font-size: 2rem;
}
.dropdown{
  display: none;
  /* z-index: -9999; */
  position: absolute;
  min-width: 200px;
  /* height: 380px; */
  background: #fff;
  color: #000000;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.dropdown::after{
  content: "";
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  display: block;
  top: -15px;
  left: 6px;
  z-index: 9999;
  transform: rotate(45deg);
}
/* .dropdown.active{
  display: block;
} */
.dropdown .drop-item{
  margin: 0 auto;
  width: 60%;
  height: 60px;
  text-align: center;
  border-bottom: 2px solid #00000080;
}
.dropdown .drop-item.last{
  border: none;
}

@media all and (max-width: 800px) {
  .fas.fa-bars{
    display: block;
  }

  .menu{
    position: absolute;
    width: 80%;
    height: 100vh;
    right: -100%;
    background: #487eb0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
  }

  .menu .li{
    display: block;
  }

  .menu .fas.fa-times{
    display: block;
  }

  .btn{
    background: inherit;
    padding: 0;
    font-size: 1rem;
    margin: 0;
    border: none;
  }

  .menu.active{
    right: 0;
  }
}
